@charset "utf-8";
/*最新訊息*/
.main_h2{
	font-size: 36px;
	margin:60px 0 10px;
}
.flex_news{
	max-width: 960px;
    display: flex;
    flex-flow: row wrap;/*很重要的3個一排方法*/
}
.flex_news .news_list{/*很重要的3個一排方法*/
	 width: 33.33%;
	 margin:0;
	 padding:0 15px 50px;
}
@media screen and (max-width: 500px){
	.flex_news{
		display: block;
	}
	.flex_news .news_list{
		width: 100%;
		margin: 0 auto;
		max-width: 300px;
	}
}
/*預定行程*/
.page_img{
	text-align: center;
	max-width: 600px;
	margin: 0 auto 80px;
}
.page_img img{
	border-radius: 20px;
	width: 100%;
	-webkit-animation: img_in 2s 1; 
    animation: img_in 2s 1;
}
@-webkit-keyframes img_in {/*上面大圖淡入*/
    0% {opacity: 0;}
    100% {opacity: 1;}
} 
@keyframes img_in {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 
.page_title{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	line-height: 28px;
	margin-bottom: 40px;
}
@media screen and (max-width: 500px){
	.page_img{
		margin: 0 auto 40px;
	}
	.page_title{
		font-size: 18px;
		line-height: 22px;
	}
}
.day1, .day2{
	margin: 0 auto 40px;
}
.day_title{
	font-size: 22px;
	font-weight: bold;
	line-height: 55px;
	margin-bottom: 40px;
}
.day_title p{
	display: inline-block;
	font-size: 18px;
	width: 55px;
	height: 55px;
	background: #ffdc00;
	border-radius: 50%;
	text-align: center;
	margin-right: 10px;
	-webkit-animation: day_ball 2s infinite; 
    animation: day_ball 2s infinite;
}
@-webkit-keyframes day_ball {
    0% {transform: translateY(-12px);}
    50% {transform: translateY(0px);}
    100% {transform: translateY(-12px);}
} 
@keyframes day_ball {
    0% {transform: translateY(-12px);}
    50% {transform: translateY(0px);}
    100% {transform: translateY(-12px);}
} 
.day_place_list{
	display: flex;
	flex-flow: row wrap;
}
.day_place{
	width: 25%;
	padding: 0 15px 40px;
}
.day_img{
	max-width: 180px;
}
.day_img img{
	width: 100%;
	border-radius: 20px;
}
.day_place p{
	font-size: 18px;
	font-weight: bold;
	max-width: 180px;
}
@media screen and (max-width: 700px){
	.day_place{
		width: 50%;
	}
}
/*----歷史足跡----*/
.history_box{
	max-width: 960px;
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
    border-bottom: 1px solid #bbb;
}
.history_box .history_item{
	 width: 25%;
	 margin:0;
	 padding:0 15px 40px;
}
.history_date{
	font-size: 18px;
	color: #323232;
	font-weight: bold;
	padding: 20px 12px 0;
}
.year_img{
	position: relative;/*給年對位置*/
}
.history_year{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -14px 0 0 -31.1px;
	font-size: 28px;
	font-weight: bold;
}
.history_img{
	max-width: 200px;
}
.history_img img{
	width: 100%;
	display: block;
	-webkit-animation: img_in 2s 1; 
    animation: img_in 2s 1;
    transition: all .1s;
}
.history_item a:hover .history_img img{
	outline: 10px solid #fff;
	outline-offset: -10px;
}
@media screen and (max-width: 500px){
	.history_box{
		display: block;
	}
	.history_box .history_item{
		width: 100%;
		margin: 0 auto;
		max-width: 300px;
	}
	.history_img{
		max-width: 300px;
	}
	.year_img img{
		max-height: 100px;
	}
}