@charset "utf-8";
/*最新訊息*/
.main_h2{
	font-size: 36px;
	margin:60px 0 10px;
}
.flex_news{
	max-width: 960px;
    display: flex;
    flex-flow: row wrap;/*很重要的3個一排方法*/
}
.flex_news .news_list{/*很重要的3個一排方法*/
	 width: 33.33%;
	 margin:0;
	 padding:0 15px 50px;
}
@media screen and (max-width: 500px){
	.flex_news{
		display: block;
	}
	.flex_news .news_list{
		width: 100%;
		margin: 0 auto;
		max-width: 300px;
	}
}
/*預定行程*/
.page_img{
	text-align: center;
	max-width: 600px;
	margin: 0 auto 80px;
}
.page_img img{
	border-radius: 20px;
	width: 100%;
}
.page_title{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	line-height: 28px;
	margin-bottom: 40px;
}
@media screen and (max-width: 500px){
	.page_img{
		margin: 0 auto 40px;
	}
	.page_title{
		font-size: 18px;
		line-height: 22px;
	}
}
.day1, .day2{
	margin: 0 auto 40px;
}
.day_title{
	font-size: 22px;
	font-weight: bold;
	line-height: 55px;
	margin-bottom: 40px;
}
.day_title p{
	display: inline-block;
	font-size: 18px;
	width: 55px;
	height: 55px;
	background: #ffdc00;
	border-radius: 50%;
	text-align: center;
	margin-right: 10px;
	-webkit-animation: day_ball 2s infinite; 
    animation: day_ball 2s infinite;
}
@-webkit-keyframes day_ball {
    0% {transform: translateY(-12px);}
    50% {transform: translateY(0px);}
    100% {transform: translateY(-12px);}
} 
@keyframes day_ball {
    0% {transform: translateY(-12px);}
    50% {transform: translateY(0px);}
    100% {transform: translateY(-12px);}
} 
.day_place_list{
	display: flex;
	flex-flow: row wrap;
}
.day_place{
	width: 25%;
	padding: 0 15px 40px;
}
.day_img{
	max-width: 180px;
}
.day_img img{
	width: 100%;
	border-radius: 20px;
}
.day_place p{
	font-size: 18px;
	font-weight: bold;
	max-width: 180px;
}
@media screen and (max-width: 700px){
	.day_place{
		width: 50%;
	}
}
/*歷史足跡*/
.main_history{
	position: relative;
}
.timeline{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -2px;
	width: 4px;
	height: 100%;
	background:#323232;
}
.time_box{
	position: relative;
	margin: 30px auto;
}
.timecircle{
	position: absolute;
	left: 50%;
	margin-left: -30px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #ffdc00;
	text-align: center;
	font-size: 22px;
	color: #323232;
	line-height: 60px;
}
.time_data p{
	line-height: 20px;
}
@media screen and (min-width: 926px){
	.time_data{
		position: relative;
		width: 45%;
		padding: 30px;
		background: rgba(225, 220, 0, .3);
		box-shadow: 0 3px 0 #bbb;
		border-radius: 20px;
	}

	.time_box:nth-child(odd) .time_data::before{/*對話框小三角形*/
		content: '';
		position: absolute;
		top:24px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid rgba(225, 220, 0, .3);
	}
	.time_box:nth-child(even) .time_data::before{/*對話框小三角形從上面數單數*/
		content: '';
		position: absolute;
		top:24px;
		left: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-color: transparent;
		border-left-color: rgba(225, 220, 0, .3);
	}

	.time_box:nth-child(odd) .time_data{
		float:right;
	}
}
@media screen and (max-width: 925px){
	.timeline{
		left: 50px;
	}
	.time_box{
		max-width: 800px;
	}
	.timecircle{
		left: 50px;
		margin-left: -20px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #ffdc00;
		text-align: center;
		font-size: 20px;
		color: #323232;
		line-height: 40px;
	}
	.time_data{
		position: relative;
		margin: 0 10px 0 80px;
		padding: 20px;
		background: rgba(225, 220, 0, .3);
		box-shadow: 0 3px 0 #bbb;
		border-radius: 20px;
	}
	.time_box .time_data::before{
		content: '';
		position: absolute;
		top:16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid rgba(225, 220, 0, .3);
	}
}